@font-face {
    font-family: "AncientMedium";
    src: url(/storage/fonts/Ancient\ Medium.ttf);
}
@font-face {
    font-family: "Quintessential-Regular";
    src: url(/storage/fonts/Quintessential/Quintessential-Regular.ttf);
}